@import "plugins/normalize";
@import "plugins/magnific-settings";
@import "plugins/magnific-popup";

// Workaround for greyscale css being read as Sass function in libSass
// https://github.com/sass/libsass/issues/151
// Thanks: kennethormandy
@function grayscale($value) {
  @return #{ "grayscale(" + $value + ")" };
}

// cleafix hack silent class
%cf {

  &:before,
  &:after {
    content:"";
    display:table;
  }

  &:after {
    clear:both;
  }
}

// apply a natural box layout model to all elements
// http://www.paulirish.com/2012/box-sizing-border-box-ftw/
*, *:before, *:after {
  box-sizing: border-box;
}

// ==========================================================
// Custom User Styles
// ==========================================================
.container {
  width: 96%;
  margin: 0 auto;
}

.row {
  overflow: hidden;
}

.col-left {
  float: left;
  margin-right: 20px;
}

.col-right {
  float: right;
  margin-left: 20px;
}

.header {
  padding: 40px 0;

  h1 { margin: 0; }

}

.pvc-list {
  list-style: none;
  margin-left: 0;
  padding: 0;
  text-align:center;
  clear:both;
  @extend %cf;

  a {
    text-decoration: none;
    color: #333;
  }

  img {
    width:100%;
    filter: grayscale(100%);
    transition: opacity 0.2s ease-in;

    &:hover,
    &:focus {
      opacity: 0.75;
    }

  }

  .purchased {
      filter: grayscale(0);
  }

}

.pvc-list__item {
  display: block;
  float: left;
  // margin: 0 0.8% 1%;
  padding: 10px;

  width: 50%; // 2 cols

}

.pvc-list__item-title {
  margin:0;
}

/* medium breakpoint */
@media screen and (min-width: 768px) {

  .container {
    width: 750px;
  }

  .pvc-list__item {
    width: 33.33333333%;
  }

}

/* large breakpoint */
@media screen and (min-width: 992px) {

  .container {
    width: 970px;
  }

  .pvc-list__item {
    width: 25%; // 4 cols
  }

}

// mega brakpoint
@media screen and (min-width: 1200px) {

  .container {
    width: 1170px;
  }

  .pvc-list__item {
    width: 20%; // 5 cols
  }

}