<header class="header" role="banner">
	<div class="row">
		<div class="col col-left">
			<h1>Pop Vinly Collection</h1>
		</div>
		<div class="col col-right">

			<label for="q">Search by name:</label>
			<input name="q" type="search" data-ng-model="query.Name" />

		</div>
	</div>
</header>

<div class="row pvc-list__filters">

	<div class="col col-left ">
		<span class="pvc-list__filters__summary">Showing: <span data-ng-bind="category"></span> (<span data-ng-bind="filteredData.length"></span>) | Collected (<span data-ng-bind="purchasedCount"></span>)</span>
	</div>

	<div class="col col-right">
		<div class="pvc-list__filters__pill">
			<label for="filter">Filter by:</label>
			<select name="filter" data-ng-model="ddFilter" data-ng-change="updateCategory()">
				<option value="">All</option>
				<option value="TV">TV</option>
				<option value="Movies">Movies</option>
				<option value="Music">Music</option>
			</select>
		</div>
	</div>

	<div class="col col-right">
		<div class="pvc-list__filters__pill">
			<label for="sort">Sort by:</label>
			<select name="sort" data-ng-model="sortExpression">
				<option value="Number">Number</option>
				<option value="Name">Name</option>
				<option value="Series">Series</option>
			</select>
		</div>
	</div>

</div>

<ul class="pvc-list animated">
  <li data-ng-repeat="pvc in filteredData = (popVinyls | filter: query | filter: ddFilter) | orderBy: sortExpression" class="pvc-list__item">
  	<a magnific-popup class="image-popup-vertical-fit" href="images/fullsize/{{pvc.Name | HyphenateString | FormatString | lowercase}}.jpg">
	  	<figure>
	  		<img data-ng-src="images/thumbs/{{pvc.Name | HyphenateString | FormatString | lowercase}}-200x200.jpg" alt="{{pvc.Name}}" data-ng-class="{purchased: pvc.Purchased}" />
	  		<figcaption class="pvc-list__item__title">
	  			<strong data-ng-bind="pvc.Name"></strong>
	  			<br/>
				<span data-ng-bind="pvc.Series" class="pvc-list__item__subtitle"></span>
	  		</figcaption>
	  	</figure>
	</a>
  </li>
</ul>