<h1>Pop Vinly Collection</h1>
<hr />
<p>Showing: <span data-ng-bind="filterType"></span> (<span data-ng-bind="totalCount"></span>) | Collected (<span data-ng-bind="purchasedCount"></span>)</p>
<!-- Filters go here -->

<ul class="pvc-list">
  <li data-ng-repeat="pvc in popVinyls | orderBy: 'Number'">
    <a href="/images/fullsize/{{pvc.Name | HyphenateString | FormatString | lowercase}}.jpg">
      <img data-ng-src="/images/thumbs/{{pvc.Name | HyphenateString | FormatString | lowercase}}-150x150.jpg" alt="{{pvc.Name}}" data-ng-class="{ purchased: pvc.Purchased }" />
      <p data-ng-bind="pvc.Name"></p>
    </a>
  </li>
</ul>